5-web-services/KitchenSoapClient/KitchenSoapClient/Connected Services/KitchenService/KitchenService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KitchenSoapService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KitchenSoapService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFridgeItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FridgeItem" nillable="true" type="tns:FridgeItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFridgeItem" nillable="true" type="tns:ArrayOfFridgeItem" />
  <xs:complexType name="FridgeItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FridgeItem" nillable="true" type="tns:FridgeItem" />
</xs:schema>