5-web-services/KitchenSoapClient/KitchenSoapClient/Connected Services/KitchenService/KitchenService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59524/KitchenService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KitchenSoapService" />
  <xs:element name="LookInsideFridge">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LookInsideFridgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KitchenSoapService" minOccurs="0" name="LookInsideFridgeResult" nillable="true" type="q1:ArrayOfFridgeItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CleanFridge">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CleanFridgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CleanFridgeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TakeOutLeftovers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TakeOutLeftoversResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KitchenSoapService" minOccurs="0" name="TakeOutLeftoversResult" nillable="true" type="q2:FridgeItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutInFridge">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KitchenSoapService" minOccurs="0" name="item" nillable="true" type="q3:FridgeItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutInFridgeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>